/* container1 */

.container1 h4,
h3 {
  text-align: center;
  word-wrap: break-word;
  
}
.container1 h3{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif
}

.container1 {
  background-color: #F2F2F2;
  height: auto;
  max-width: 1280px;
  margin: 20px auto;
  padding: 40px 0;
  overflow: hidden;

}

.card1 {
  width: calc(25% - 30px);
  background-color: black;
  height: auto;
  margin: 15px;
  float: left;
}

.min1 {
  padding: 2px 16px;
  color: black;
  background-color: white;
  position: relative;
  margin-top: 228px;
  height: 180px;
}

.min1 h4 {
  text-align: left;
  margin-bottom: 60px;
}

/* container 2 */

.container2 h1{
  text-align: center;
  padding-top: 25px;
}

.container2 p#sed{
  text-align: center;
  padding: 15px 0 20px;
  word-wrap: break-word;
}

.container2{
  background-color: #F2F2F2;
  height: auto;
  max-width: 1280px;
  margin: 50px auto;
  padding: 40px 0;
  overflow: hidden;
  margin-top: 20px;
}

.sec1{
  width: calc(33% - 70px);
  background-color: black;
  height: auto;
  margin: 15px 0 0 55px;
  float: left;
}

.sec2{
  padding: 5px 16px;
  color: black;
  background-color: #F2F2F2;
  position: relative;
  margin-top: 275px;
  height: 180px;
}

.sec2 p#lorem{
  margin-top: 40px;
}

.sec2 p#more{
  margin-top: 30px;
}

/* container3 */

.container3 {
  background-color: #F2F2F2;
  height: auto;
  padding: 40px;
  overflow: hidden;
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
  

}

.boxes {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.third {
  display: flex;
  width: 100%;
}

.box1 {
  height: auto;
  width: 50%;
  margin-right: 10px;
  padding: 20px 20px 20px 20px;

}

.box2 {
  height: auto;
  margin-left: 10px;
  width: auto;
  margin-right: 10px;
  width: 50%;
  padding: 20px 20px 20px 20px;
  word-wrap:break-word;
}

.box1,.box2 {
  background-color: black;
  color: white;
  padding: 20px 20px 20px 20px;
}

.box1 p {
  font-size: 60px;
}

.box2 {
  background-color: #888888;
}

.b1 p {
  background-color: black;
  color: #F2F2F2;
  width: 100px;
  text-align: center;
  padding: 10px;
  margin: 20px;

}

.b2 p {
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin: 20px;
  width: auto;
  height: 200px;
}

.box3 {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  justify-content: space-between;
  margin-left: 10px;
}

.bo1 {
  background-color: white;
  /* padding: 10px; */
  padding-left: 10px;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 5px;

}

.bo2 {
  background-color: white;
  padding-left: 10px;
  margin-top: 5px;
  word-wrap: break-word;
  height: 100%;
  width: 100%;

}

.bo1 h4,.bo2 h4 {
  margin-top: 80px;
}

.bo1 p,
.bo2 p {
  margin-top: 20%;
}

/* container4 */

.container4{
  background-color: #F2F2F2;
  height: auto;
  max-width: 1280px;
  padding: 40px;
  overflow: hidden;
  margin-top: 20px;
}
.new{
  display: flex;
}
.f1{
  background-color:#222222;
  height: auto;
  width: 40%;
  height: auto;
}
.f2{
  background-color: black;
  width: 60%;
  height: auto;
  color: #F2F2F2;
  padding-left: 30px;
  font-size: larger;
  word-wrap: break-word;
}

.new1{
  display: flex;
  justify-content: space-between;
}
.n1{
  background-color: white;
  width: 50%;
  word-wrap: break-word;
  margin: 30px 20px 20px 0 ;
  padding-left: 40px;
}
.n2{
  background-color: white;
  width: 50%;
  word-wrap: break-word;
  margin: 30px 0 20px 20px;
  padding-left: 40px;
}

/* media query tablate vew*/

/* .container1 */

@media only screen and (max-width: 1000px) {
  .container4 {
    width: 100%;
    height: auto;
  }

  .four {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .card1 {
    width: 46%;
  }

  /* .container3 */
  .container3 {
    width: 100%;
    height: 820px;
    padding: 10px;
  }

  .third {
    flex-direction: column;
  }

  .boxes {
    width: 100%;
    display: flex;
  }

  .box1 {
    width: 45%;
    height: 400px;
    margin: 20px 10px 10px 10px;
  }

  .box2 {
    width: 45%;
    height: 400px;
    margin: 20px 20px 10px 10px;
  }


  .box3 {
    width: auto;
    display: flex;
    flex-direction: row;
  }

  .bo1 {
    width: 50%;
    height: 300px;
    margin: 20px 20px 10px 1px;
  }

  .bo2 {
    width: 50%;
    height: 300px;
    margin: 20px 20px 10px 0px;
  }

  /* .container4 */

  .new {
    padding: 10px;
  }
  .container4 {
    height: 700px;
    width: auto;
  }

  .f1 {
    width: 280px;
    height: 280px;
  }

  .f2 {
    width: 720px;
    height: 280px;
    top: 2149px;
    left: 25px;
  }

  .n1 {
    width: 45%;
    height: 350px;
    margin: 40px 10px 10px 10px;

  }

  .n2 {

    width: 45%;
    height: 350px;
    margin: 40px 10px 10px;
  }
}

/* media query mobile view */

@media only screen and (max-width: 500px) {

  /* .container1 */
  
  .container1 {
    width: 100%;
    margin-left: 15px;
  }
  .first {
    flex-direction: column;
    display: flex;
    padding-left: 70px;
  }
  .card1 {
    width: 75%;
  } 

  /* .container2 */

  .container2 {
    width: 100%;
    margin-left: 15px;
  }

  .second {
    flex-direction: column;
    display: flex;
    padding-left: 25px;
  }

  .sec1 {
    width: 75%;
  }

  /* .container3 */
  
  .container3 {
    width: 100%;
    height: auto;
    margin-left: 15px;
  }

  .third {
    flex-direction: column;
  }

  .boxes {
    flex-direction: column;
    
  }

  .box1 {
    width: 85%;
    height: auto;
  }

  .box2 {
    width: 85%;
  }

  .box3 {
    flex-direction: column;
  }

  .bo1 {
    /* width: 92%; */
    width: 92%;
    height: auto;
  }

  .bo2 {
    width: 92%;
  }

  /* .container4 */

  .container4 {
    width: 100%;
    height: 1190px;   
  }

  .new {
    height: auto;
    display: flex;
    flex-direction: column;

  }

  .f1 {
    width: 99%;
    height: 300px;
  }

  .f2 {
    width: 92.70%;
    height: 280px;
  }

  .new1 {
    height: auto;
    display: flex;
    flex-direction: column;

  }

  .n1 {
    height: 20%;
    width: 90%;
  
  }

  .n2 {
    height: 20%;
    width: 90%;
  }

}
